@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url(https://kq-storage.s3.ap-south-1.amazonaws.com/Github/astronaut/sky-moon-bg%5B1%5D.png);
    width: 100vw;
    height: 100vh;
    background-size: 100% 100%;
    overflow: hidden;
}

#astronaut-1{
    width: 500px;
    position: absolute;
    left: 5%;
    top: 5%;
    animation: floating 5s infinite;
}

@keyframes floating {
    0%{
        transform: translateY(0px)
    }
    50%{
        transform: translateY(30px);
    }

}
#astronaut-2{
    width: 500px;
    position: absolute;
    left: 28%;
    top: 28%;
    animation: floating 5s infinite;
    
}

form{
    position: absolute;
    top: 15%;
    left: 64%;
    width: 311px;
    padding: 0 75px;
    background-color: white;
    border-radius: 5px;
}

.block-display{
    display: block;
}

label{
    font-size: 16px;
    margin: 20px 0 4px 0;
}

h1{
    font-size: 26px;
    width: 280px;
    margin: 20px auto;
    text-align: center;
}

input[type="text"],input[type="email"],select{
    width: 300px;
    height: 40px;
    border: 1px solid black;
    padding: 0 5px;
}

input[type="submit"]{
    background-color: #E37737;
    color: white;
    padding: 15px 20px;
    border: none;
    margin: 40px auto;
    border-radius: 20px;
}